@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-[#0b4f7f] text-slate-900 antialiased;
  background-image: linear-gradient(135deg, #0b4f7f, #0a2f53);
  background-attachment: fixed;
}

img {
  @apply rounded-xl;
}
