@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-slate-50 text-slate-900 antialiased;
  background-image: linear-gradient(135deg, #f8fafc, #e2e8f0);
  background-attachment: fixed;
}

img {
  @apply rounded-xl;
}
